How does cryptex work?

At the November 21, 2023 WEBRTC WG meeting, the question was raised about how cryptex processing works in RtpTransport: 

1. Example 2 in the slides refers to an `RtpPacket.toArrayBuffer` method, but this method presumably provides a cleartext RTP packet which in the example gets sent over WebTransport. 
2. Is cryptex handled via an RtpPacket method or is it implicitly handled in an RtpPacket method such as send() and receive()? 
3. What level of control is provided over cryptex?  Is there per-packet control, or does RtpTransport just apply cryptex to all packets if it is negotiated? 

My understanding of RTPTransport is that it is designed to not touch any of the security features involved in SRTP/DTLS, including the derivation of keys for SRTP.

Cryptex is documented in RFC 9335 as being identical to pure SRTP except for what part of the packet is covered.

So I'd say that .toArrayBuffer would produce the cleartext packet including header extensions (starting with the "v=2" bits), and cryptex (if supported) would be an option to the .send call for the packet.


RFC 9335 Section 4 says: 
"Once each peer has verified that the other party supports receiving RTP packets encrypted with Cryptex, senders can unilaterally decide whether or not to use the Cryptex mechanism on a per-packet basis."

While a sender could decide whether to use Cryptex on a per-packet basis, or even to send some packets with Cryptex and other packets with RFC 6904, I'm wondering whether this is likely to be used or if can we just assume that if cryptex is negotiated then all packets will be sent using cryptex. 

I think we have quite a lot of protocol specs (RID comes to mind) where our WebRTC specs say "only use this very limited subset".

So "either all cryptex or no cryptex" seems reasonable to me.
Note that I, being conservative, think that we need to have an API to control cryptex, with default being off, so as not to create surprises for users.


This issue  was discussed in [WebRTC December 5 2023 meeting – 05 December 2023  (Issue #7: SRTP/cryptex support)](https://www.w3.org/2023/12/05-webrtc-minutes.html#t12)